body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  height: 160px;
}

.header .header__contanier {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__contanier .header__logo {
  position: relative;
  z-index: 5;
}

.header .header__contanier .menu__list .menu__icon {
  display: none;
}

.header .header__contanier .menu__list .menu__link {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rosybrown;
}

@media (max-width: 1040px) {
  .header .header__contanier .menu__list .menu__link {
    padding: 20px 40px;
  }
}

.header .header__contanier .menu__list .menu__link:hover {
  border: 1px solid rosybrown;
  -webkit-box-shadow: 0 0 11px rosybrown;
          box-shadow: 0 0 11px rosybrown;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list .menu__link {
    padding: 30px 80px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .header .header__contanier .header__logo {
    min-width: 50px;
  }
  .header .header__contanier .header__menu .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 180px 30px 30px 30px;
    background-color: white;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header .header__contanier .header__menu .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 150px;
    background-color: white;
    z-index: 5;
  }
  .header .header__contanier .header__menu .menu__body .menu__list > li {
    margin: 0px 0px 20px 10px;
    padding: 40px;
  }
  .header .header__contanier .header__menu .menu__body .menu__list {
    font-size: 22px;
    padding: 7px;
  }
  .header .header__contanier .header__menu .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 50px;
    height: 30px;
  }
  .header .header__contanier .header__menu .menu__icon span, .header .header__contanier .header__menu .menu__icon::before, .header .header__contanier .header__menu .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rosybrown;
  }
  .header .header__contanier .header__menu .menu__icon::before, .header .header__contanier .header__menu .menu__icon::after {
    content: "";
  }
  .header .header__contanier .header__menu .menu__icon::before {
    top: 0;
  }
  .header .header__contanier .header__menu .menu__icon::after {
    bottom: 0;
  }
  .header .header__contanier .header__menu .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header .header__contanier .header__menu ._active {
    left: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.main {
  padding: 160px 30px 30px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 200px) minmax(auto, 1050px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 200px) minmax(auto, 1050px) 1fr;
}

.main .sider {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 0px 0px 0px 30px;
}

.main .sider .sidebar__menu .siderbar__list {
  margin: 20px 0px 50px 0px;
}

.main .sider .sidebar__menu .siderbar__list .sidebar__item {
  color: rosybrown;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  display: block;
}

.main .sider .sidebar__menu .siderbar__list .sidebar__item:hover {
  border: 1px solid rosybrown;
  -webkit-box-shadow: 0 0 11px rosybrown;
          box-shadow: 0 0 11px rosybrown;
}

.main .sider .sidebar__menu .siderbar__list li {
  margin: 0px 0px 30px 0px;
}

.main .content {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding: 100px;
}

.main .content .heading_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rosybrown;
}

.main .content .label {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .content .label .lable__item {
  padding: 20px;
  margin: 10px 10px 0 0;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background-color: yellow;
  text-transform: uppercase;
}

.main .content .stikers {
  position: relative;
  padding: 0px 0px 85% 0px;
  margin: 0px 0px 50px 0px;
}

.main .content .stikers img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .prducts__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30;
          column-gap: 30;
  row-gap: 50px;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.main .prducts__items .product__image {
  position: relative;
  margin: 0px 0px 20px 0px;
}

.main .prducts__items .product__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .prducts__items .products__item {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 30px;
  -ms-grid-rows: auto 1fr minmax(40px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(40px, auto)/1fr;
}

.main .prducts__items .products__item .product_name {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rosybrown;
}
/*# sourceMappingURL=style.css.map */